* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #687481;
    height: 35%;
    width: 350px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    padding: 30px 0;
    border-radius: 8px;
  }
  .container h1 {
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    padding: 30px;
    color: white;
  }
  #newtask {
    position: relative;
    padding: 15px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  }
  
  #newtask input {
    border-radius: 5px;
    width: 70%;
    height: 30px;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    position: relative;
  }
  
  #newtask input:focus {
    outline: none;
    border-color: red;
  }
  #newtask button {
    position: relative;
    float: right;
    width: 60px;
    height: 30px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 15px;
    background: red;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
  }
  #task {
    width: 100%;
    position: relative;
    margin-top: 40px;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
  }
  .task {
    background: #454545;
    color: white;
    font-family: 'Poppins', sans-serif;
    height: 50px;
    padding: 30px 15px;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 2px solid #d1d3d4;
  }
  
  .task span {
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
  }
  
  .task button {
    position: relative;
    float: right;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    background: red;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .completed {
    text-decoration: line-through;
    opacity: 0.7;
  }